/nbproject

/wordpress/wp-config.php
/wordpress/wp-content/uploads/auto_save_image/*

/sites/admin/config/cfg_database.php
/sites/admin/data/cache/
/sites/admin/data/log/
/sites/admin/data/session/
/sites/admin/tpls/compile/
/sites/html/
/sites/index.html
/sites/index.htm
/sites/static/js/
/sites/kp.html
